<form id="contact_form" class="jotform-form" action="{% url 'contact_submit' %}" method="post"
      enctype="multipart/form-data" name="contact_form" accept-charset="utf-8"
      novalidate="true">
  {% csrf_token %}
  <div class="form-all">
    <ul class="form-section page-section">
      <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox">
        <label class="form-label form-label-top" for="name">
          Name
            <span class="form-required">
              *
            </span>
        </label>

        <div class="form-input-wide jf-required">
          <input id="name" name="name" class="form-textbox validate_required form-validation-error"
                 data-type="input-textbox" size="50" value="" type="text">
        </div>
      </li>
      <li class="form-line form-line-column form-col-2 jf-required" data-type="control_textbox">
        <label class="form-label form-label-top" for="email">
          Email
            <span class="form-required">
              *
            </span>
        </label>

        <div class="form-input-wide jf-required">
          <input id="email" name="email" class=" form-textbox validate_required validate_email"
                 data-type="input-textbox" size="50" value="" type="text">
        </div>
      </li>
      <li class="form-line form-line-column form-col-3 jf-required" data-type="control_textarea">
        <label class="form-label form-label-top" for="message">
          Message
            <span class="form-required">
              *
            </span>
        </label>

        <div class="form-input-wide jf-required">
          <textarea id="message" name="message" class="form-textarea validate_required" cols="35" rows="6"></textarea>
        </div>
      </li>
      <li class="form-line" data-type="control_button">
        <div class="form-input-wide">
          <div style="text-align:right" class="form-buttons-wrapper">
            <button type="submit" class="form-submit-button">
              Submit
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</form>