{% load staticfiles %}

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <title>
    Form
  </title>
</head>

<body>

<div class="sw-mainarea">
  {% include 'insert/contact.html' %}
  {% include 'insert/resume.html' %}
</div>
{% include 'insert/success_popup.html' %}

<script type="text/javascript" src="{% static 'js/forms_validator.js' %}"></script>

</body>
</html>
