<form id="resume_form" class="jotform-form" action="{% url 'resume_submit' %}" method="post"
      enctype="multipart/form-data" name="resume_form" accept-charset="utf-8"
      novalidate="true">
  {% csrf_token %}
  <div class="form-all">
    <ul class="form-section page-section">
      <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox">
        <label class="form-label form-label-top" for="name">
          Name
          <span class="form-required">
            *
          </span>
        </label>

        <div class="form-input-wide jf-required">
          <input id="name" name="name" class="form-textbox validate_required form-validation-error"
                 data-type="input-textbox" size="50" value="" type="text">
        </div>
      </li>
      <li class="form-line form-line-column form-col-2" data-type="control_textbox">
        <label class="form-label form-label-top" for="phone"> Phone </label>

        <div class="form-input-wide jf-required">
          <input id="phone" name="phone" class=" form-textbox" data-type="input-textbox" size="50" value="" type="text">
        </div>
      </li>
      <li class="form-line form-line-column form-col-3" data-type="control_textarea">
        <label class="form-label form-label-top" for="comments"> Comments </label>

        <div class="form-input-wide jf-required">
          <textarea id="comments" name="comments" class="form-textarea" cols="35" rows="6"></textarea>
        </div>
      </li>
      <li class="form-line form-line-column form-col-4" data-type="control_fileupload">
        <label class="form-label form-label-top" for="attachment"> Attachment </label>

        <div class="form-input-wide jf-required">
          <input id="attachment" name="attachment" class="form-upload validate_upload" data-imagevalidate="yes"
                 type="file">
        </div>
      </li>
      <li class="form-line" data-type="control_button">
        <div class="form-input-wide">
          <div style="text-align:right" class="form-buttons-wrapper">
            <button type="submit" class="form-submit-button">
              Submit
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</form>