.form-all {
	list-style:none;
	list-style-position:outside;
	margin:0px;
	font-family:Verdana;
	font-size:12px
}
.form-captcha {
	border:1px
solid #ccc;
	background:#f5f5f5;
	padding:6px;
	width:152px;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px;
	border-radius:4px 4px 4px 4px
}
.underlined {
	text-decoration:underline
}
#payment_total {
	display:inline-block
}
.form-payment-label {
	color:#999;
	display:block;
	font-size:9px
}
.form-payment-subtotal,.form-payment-shipping,.form-payment-tax {
	font-size:0.9em;
	max-width:200px;
	overflow:visible
}
.form-payment-divider {
	display:block;
	border-bottom:1px solid lightgrey;
	max-width:200px
}
.form-payment-total {
	max-width:200px;
	display:block;
	overflow:visible;
	margin:10px
0
}
.form-payment-price {
	float:right
}
.form-product-custom_quantity {
	width:30px;
	padding-left:4px
}
#coupon-message {
	font-size:10px;
	font-weight:normal;
	white-space:normal
}
.form-captcha:hover {
	border:1px
solid #aaa
}
.form-captcha-image {
	border:1px
solid #aaa;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px;
	border-radius:4px 4px 4px 4px
}
.form-collapse-table {
	height:58px;
	border:1px
solid #ccc;
	background:#f5f5f5 url(/images/soft-grad.png) repeat-x;
	position:relative
}
.form-list {
	padding:3px;
	border:1px
solid #CCC;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.2) inset
}
.form-list
option {
	padding:2px
}
.form-list option:nth-child(2n+1) {
	background:#f5f5f5
}
.form-textarea {
	font-family:"Lucida Grande",Verdana;
	white-space:pre-wrap
}
.form-textarea-limit {
}
.form-textarea-limit>span {
	display:inline-block
}
.form-textarea-limit
textarea {
	overflow:auto
}
.form-textarea-limit textarea:focus {
	outline:none !important
}
.form-textarea-limit-indicator {
	color:#666;
	font-size:9px;
	margin-top: -1px;
	padding:2px;
	text-align:right
}
.form-textarea-limit-indicator-error {
	color:red
}
.nicEdit-main {
	background-color:white
}
.form-line-column .nicEdit-main {
	white-space:normal
}
.form-line-column .form-sub-label {
	white-space:normal
}
.form-datetime-validation-error {
	background:#FAA;
	color:#fff
}
.form-collapse-left {
}
.form-collapse-mid {
	text-shadow:0px 2px 0px #fff;
	float:left;
	font-size:18px;
	margin:16px
45px 16px 20px
}
.form-product-item {
	display:inline-block;
	padding:5px
5px 5px 10px;
	position:relative;
	overflow:hidden
}
.form-product-item
img {
	display:block;
	position:static;
	margin:0
12px 0 0;
	float:left;
	-moz-border-radius:3px 3px;
	-webkit-border-radius:3px 3px;
	border-radius:3px 3px
}
.form-product-custom_price {
	text-align:right;
	width:30px;
	border:1px
solid gray;
	margin:0
2px;
	padding:2px
4px
}
.hover-product-item:hover {
	background:#f5f5f5;
	color:#000
}
.form-product-item label, .form-product-item .form-radio, .form-product-item .form-checkbox {
	cursor:pointer
}
.form-special-subtotal {
	display:block;
	font-size:10px;
	margin-left:10px;
	margin-top:6px
}
.form-product-image,.form-product-image-with-options {
	margin:5px;
	margin-left:10px
}
.form-product-image-with-options {
	position:absolute;
	top:15px;
	-moz-border-radius:5px 5px;
	-webkit-border-radius:5px 5px;
	border-radius:5px 5px
}
.form-radio,.form-checkbox {
	vertical-align:middle;
	margin:0px;
	padding:0px
}
.form-radio-item,.form-checkbox-item {
	margin-top:5px;
	float:left
}
.form-multiple-column,.form-single-column {
	display:inline-block
}
.form-multiple-column .form-radio-item, .form-multiple-column .form-checkbox-item {
	width:150px
}
.form-radio-item label, .form-checkbox-item
label {
	margin-left:5px
}
.form-radio-item br, .form-checkbox-item
br {
	clear:left
}
.form-submit-button,.form-submit-reset,.form-submit-print,.form-screen-button {
	margin:0px;
	overflow:visible;
	padding:1px
6px;
	width:auto
}
.form-submit-button::-moz-focus-inner,.form-submit-reset::-moz-focus-inner {
	border:0px;
	padding:1px
6px
}
.form-submit-button.conditionallyDisabled {
	opacity:0.4;
	cursor:default;
	pointer-events:none
}
.form-button-red {
	border:1px
solid red
}
.form-button-magenta {
	border:1px
solid magenta
}
.form-screen-message {
	width:260px;
	height:100px
}
.form-screen-button
div {
	background-image:url("/images/photo.png");
	background-position:center;
	background-repeat:no-repeat;
	height:50px;
	width:50px
}
.form-screen-button {
	position:absolute;
	top:1px;
	margin:0px;
	margin-left:10px;
	padding:0px;
	background:#fdc000;
	background: -moz-linear-gradient(top, #fdc000 0%, #fe8900 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdc000), color-stop(100%,#fe8900));
	background: -webkit-linear-gradient(top, #fdc000 0%,#fe8900 100%);
	background: -o-linear-gradient(top, #fdc000 0%,#fe8900 100%);
	background: -ms-linear-gradient(top, #fdc000 0%,#fe8900 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc000', endColorstr='#fe8900',GradientType=0 );
	background:linear-gradient(top, #fdc000 0%,#fe8900 100%);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 1px 0 rgba(255,255,255,.6) inset;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 1px 0 rgba(255,255,255,.6) inset;
	box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 1px 0 rgba(255,255,255,.6) inset;
	border:1px
solid #ae5d00;
	border-radius:5px
}
.form-screen-button:hover {
	background:#fcc932;
	background: -moz-linear-gradient(top, #fcc932 0%, #fc9e32 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcc932), color-stop(100%,#fc9e32));
	background: -webkit-linear-gradient(top, #fcc932 0%,#fc9e32 100%);
	background: -o-linear-gradient(top, #fcc932 0%,#fc9e32 100%);
	background: -ms-linear-gradient(top, #fcc932 0%,#fc9e32 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc932', endColorstr='#fc9e32',GradientType=0 );
	background:linear-gradient(top, #fcc932 0%,#fc9e32 100%);
	border:1px
solid #ae5d00
}
.form-screen-button:active {
	background:#fe8900;
	background: -moz-linear-gradient(top, #fe8900 0%, #fdc000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe8900), color-stop(100%,#fdc000));
	background: -webkit-linear-gradient(top, #fe8900 0%,#fdc000 100%);
	background: -o-linear-gradient(top, #fe8900 0%,#fdc000 100%);
	background: -ms-linear-gradient(top, #fe8900 0%,#fdc000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8900', endColorstr='#fdc000',GradientType=0 );
	background:linear-gradient(top, #fe8900 0%,#fdc000 100%);
	border:1px
solid #C56600;
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 -1px 0 rgba(255,255,255,.6) inset;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 -1px 0 rgba(255,255,255,.6) inset;
	box-shadow:0 1px 0 rgba(255, 255, 255, .6), 0 -1px 0 rgba(255,255,255,.6) inset
}
.form-screenshot-plate {
	background:url("/images/noises/defaultdesktop.png") repeat scroll 0 0 transparent;
	border:2px
solid #545454;
	border-radius:3px 3px 3px 3px;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.7) inset;
	margin:10px
0;
	text-align:center
}
.form-screenshot-img {
	box-shadow:0 0 5px rgba(0, 0, 0, 0.7);
	margin:14px
0;
	display:inline-block
}
.form-screenshot-img
img {
}
.form-submit-print::-moz-focus-inner {
	padding:0px
6px
}
.form-submit-print {
	padding:1px
6px
}
.form-submit-print
img {
	margin-left: -14px;
	margin-right:3px;
	margin-top: -3px
}
.form-submit-print {
	margin-bottom: -4px;
	margin-top: -6px;
	margin-left: -6px;
	margin-right:5px
}
.form-submit-button-img {
	border:none !important;
	margin:0
!important;
	padding:0
!important;
	background:none !important;
	cursor:pointer !important
}
.form-collapse-right {
	position:absolute;
	right:0px;
	height:58px;
	width:40px
}
.form-collapse-right-show {
	background:url(/images/arrow-open.png) no-repeat center
}
.form-collapse-right-hide {
	background:url(/images/arrow-closed.png) no-repeat center
}
.form-collapse-hidden {
	display:none
}
.form-grading-item {
	margin-bottom:3px
}
.form-header {
	margin:0px
}
.form-footer {
	margin:0px;
	text-align:center;
	font-size:9px;
	color:#999;
	font-weight:300
}
.form-subHeader {
	border-top:1px solid #ccc;
	font-style:italic
}
.form-header-group {
	background:#f5f5f5;
	border-bottom:1px solid #ccc;
	padding:12px;
	clear:both
}
.form-header-group.hasImage>.header-logo {
	display:table-cell
}
.form-header-group.hasImage>.header-text {
	display:table-cell;
	width:100%
}
.httal {
	text-align:left
}
.httac {
	text-align:center
}
.httar {
	text-align:right
}
.htvat {
	vertical-align:top
}
.htvam {
	vertical-align:middle
}
.htvab {
	vertical-align:bottom
}
.header-logo-left {
	margin-right:1em
}
.header-logo-right {
	margin-left:1em
}
.form-footer-group {
	padding:12px;
	clear:both
}
.form-label-top {
	margin-bottom:6px;
	display:block;
	white-space:normal
}
.form-label-left {
	float:left;
	display:inline-block;
	text-align:left;
	padding:3px;
	white-space:normal
}
.form-label-right {
	float:left;
	display:inline-block;
	text-align:right;
	margin-bottom:6px;
	padding:3px;
	white-space:normal
}
.form-input-wide {
}
.form-section,.form-section-closed {
	list-style:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
	position:relative;
	zoom:1;
	clear:both
}
.form-section-closed {
	overflow:hidden;
	height:60px
}
.form-input {
	display:inline-block
}
.form-line {
	clear:both;
	padding:10px;
	margin:0px;
	display:block;
	width:97%;
	width:-moz-available;
	position:relative
}
.form-line-column {
	float:left;
	clear:none;
	width:auto;
	white-space:nowrap
}
.form-line.form-line-column {
	display:inline-block
}
.form-line-column-clear {
	clear:left;
	width:auto
}
.form-line-active {
	background-color:#FFFFE0;
	color:#333
}
.form-matrix-table {
	border-collapse:collapse;
	font-size:10px;
	margin-bottom:5px
}
.form-matrix-column-headers {
	border:1px
solid #ccc;
	background:#ddd;
	color:inherit;
	text-align:center
}
.form-matrix-row-headers {
	border:1px
solid #ccc;
	background:#ddd
}
.form-matrix-values {
	border:1px
solid #ccc;
	background:#f5f5f5
}
.form-pagebreak {
	border-top:1px solid #ccc;
	background:#f5f5f5;
	height:60px;
	clear:left
}
.form-pagebreak-back-container,.form-pagebreak-next-container {
	float:left;
	padding:10px;
	padding-top:14px
}
.form-pagebreak-next-container {
	padding-left:0px
}
.form-pagebreak-back,.form-pagebreak-next {
	-webkit-border-radius:5px 5px;
	-webkit-box-shadow:0px 1px 2px #aaa;
	-moz-border-radius:5px 5px;
	-moz-box-shadow:0px 1px 2px #aaa;
	border-radius:5px 5px;
	box-shadow:0px 1px 2px #aaa;
	border:1px
solid #999;
	background:#ddd;
	padding:5px;
	margin:0px;
	font-size:14px
}
.form-pagebreak-next {
	margin:0
0 0 20px
}
.button-hidden {
	display:none
}
.form-required {
	margin-left:5px;
	color:red
}
.form-scale-table {
	font-size:12px
}
.form-scale-table
th {
	border-bottom:1px solid #ccc;
	color:#999
}
.form-product-details {
	font-size:0.8em;
	color:inherit;
	font-style:normal
}
.form-product-options-text,.form-product-child-label {
	font-weight:normal;
	word-wrap:break-word
}
.form-product-child-table {
	margin-top:4px
}
.form-product-child-table td, .form-product-child-table
th {
	padding:2px
6px
}
.form-product-child-price {
	font-size:0.786em;
	font-weight:bold;
	font-style:italic;
	color:#999;
	min-width:80px ! important
}
.form-address-table {
	width:330px
}
.form-address-line {
	width:310px
}
.form-address-city,.form-address-state {
	width:144px
}
.form-address-table td, .form-address-table
th {
	padding-bottom:10px
}
.form-address-table
select {
	width:150px
}
.form-button-error {
	color:red;
	display:inline;
	text-align:center
}
.form-pagebreak>.form-button-error {
	padding:14px
10px 10px;
	display:block
}
.form-line-error {
	background:#FAA;
	color:#333
}
.form-line-error input:not(#coupon-input), .form-line-error select, .form-line-error textarea,.form-validation-error {
	border:1px
solid red !important;
	-moz-box-shadow:0 0 2px red;
	-webkit-box-shadow:0 0 2px red;
	box-shadow:0 0 2px red
}
.form-validation-error.form-input {
	border:none
}
.form-line-active .form-error-message {
	display:none
}
.form-error-message {
	z-index:900;
	position:absolute;
	max-width:130px;
	right:0px;
	top:0px;
	color:#333;
	padding:3px;
	font-size:10px;
	border:4px
solid #d88;
	-webkit-box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
	-webkit-border-radius:6px 6px;
	-moz-box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
	-moz-border-radius:6px 6px;
	box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
	border-radius:6px 6px;
	background:#FCC
}
.form-error-arrow {
	position:absolute;
	top:-20px;
	left:10px;
	height:0px;
	width:0px;
	border:10px
solid transparent;
	border-bottom-color:#666;
	border-bottom:10px solid rgba(102,102,102,0.3)
}
.form-error-arrow-inner {
	position:absolute;
	top:1px;
	height:0px;
	width:0px;
	border:10px
solid transparent;
	border-bottom-color:#FCC;
	border-bottom-width:11px;
	left:-10px;
	top:-10px
}
.form-input .form-error-message, .form-input-wide .form-error-message {
	bottom:-5px;
	font-size:11px;
	position:relative;
	z-index:900;
	right:auto;
	top:auto;
	color:#333;
	padding:3px;
	max-width:100%;
	padding-bottom:3px;
	font-size:12px;
	border:none;
	-moz-box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
	-webkit-box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
	-moz-border-radius:6px 6px;
	-webkit-border-radius:6px 6px;
	box-shadow:0px 2px 4px rgba(102, 102, 102, 0.5);
	border-radius:6px 6px;
	background:#FCC
}
.form-description {
	z-index:1000;
	position:absolute;
	right:7px;
	max-width:150px;
	top:6px;
	border:4px
solid #ccc;
	-webkit-border-radius:6px 6px;
	-webkit-box-shadow:0px 2px 4px #666;
	-moz-border-radius:6px 6px;
	-moz-box-shadow:0px 2px 4px #666;
	border-radius:6px 6px;
	box-shadow:0px 2px 4px #666;
	background:#f5f5f5;
	white-space:normal
}
.form-description-content {
	padding:10px;
	font-size:10px;
	color:#333
}
.form-description-arrow {
	border-color:transparent #CCC transparent transparent;
	border-style:solid;
	border-width:10px;
	height:0;
	width:0;
	left:-24px;
	top:7px;
	position:absolute
}
.form-description-arrow-small {
	border-color:transparent #F5F5F5 transparent transparent;
	border-style:solid;
	border-width:7px;
	height:0;
	width:0;
	left:-14px;
	top:10px;
	position:absolute
}
.right {
	right:33px !important;
	float:none !important
}
.form-line:hover .form-description-indicator, .form-line-active .form-description-indicator {
	display:block
}
.form-description-indicator {
	display:none;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	width:25px;
	background:url(/images/s-info.png) no-repeat center
}
.right .form-description-arrow {
	border-color:transparent transparent transparent #CCC;
	left:auto;
	right:-24px
}
.right .form-description-arrow-small {
	border-color:transparent  transparent transparent #F5F5F5;
	left:auto;
	right:-14px
}
.form-autocomplete-list {
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:12px;
	background:#333;
	background:rgba(26,58,81,0.8);
	border:1px
solid #eee;
	border-top:none;
	padding:5px
0;
	-moz-border-radius-bottomright:10px 10px;
	-moz-border-radius-bottomleft:10px 10px;
	-moz-box-shadow:0px 5px 10px rgba(0,0,0,0.6);
	-webkit-border-bottom-right-radius:10px 10px;
	-webkit-border-bottom-left-radius:10px 10px;
	-webkit-box-shadow:0px 5px 10px rgba(0,0,0,0.6);
	border-radius-bottom-right:10px 10px;
	border-radius-bottom-left:10px 10px;
	box-shadow:0px 5px 10px rgba(0,0,0,0.6)
}
.form-autocomplete-list-item {
	margin:0
5px;
	border:1px
solid transparent;
	color:#fff;
	padding:3px;
	-moz-border-radius:5px 5px;
	-webkit-border-radius:5px;
	border-radius:5px 5px;
	text-shadow:1px 1px 3px #000;
	cursor:pointer
}
.form-autocomplete-list-item-selected,.form-autocomplete-list-item:hover {
	-moz-box-shadow:0 0 4px #333;
	-webkit-box-shadow:0 0 4px #333;
	box-shadow:0 0 4px #333;
	border:1px
solid #1a3a51;
	background:#4295D1
}
.form-autocomplete-list-item:hover {
	border:1px
solid #ccc
}
.form-sub-label-container {
	display:inline-block;
	margin-right:5px
}
.form-sub-label {
	color:#999;
	display:block;
	font-size:9px
}
.form-html {
	padding:3px;
	white-space:normal
}
.form-radio-other-input,.form.checkbox-other-input {
	margin-left:5px
}
.form-spinner-input-td {
	white-space:normal
}
.form-spinner-input-td input[type="number"]::-webkit-inner-spin-button,
.form-spinner-input-td input[type="number"]::-webkit-outer-spin-button {
	display:none
}
.edit-hover {
	display:none
}
.form-custom-hint {
	color:#aaa !important;
	overflow:hidden !important
}
.filePicker-button {
	border-style:solid;
	border-width:1px;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
	padding:9px
24px;
	margin-bottom:0;
	font-size:13px;
	line-height:18px;
	text-align:center;
	color:#FFF;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background:#0074CC;
	background: -moz-linear-gradient(top,  #08c 0%, #05c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0088cc), color-stop(100%,#0055cc));
	background: -webkit-linear-gradient(top,  #08c 0%,#05c 100%);
	background: -o-linear-gradient(top,  #08c 0%,#05c 100%);
	background: -ms-linear-gradient(top,  #08c 0%,#05c 100%);
	background:linear-gradient(to bottom,  #08c 0%,#05c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#0055cc',GradientType=0 );
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0,0,0,0.05)
}
.filePicker-button:hover {
	background:#00a0f0;
	background: -moz-linear-gradient(top,  #00a0f0 0%, #0064f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0f0), color-stop(100%,#0064f0));
	background: -webkit-linear-gradient(top,  #00a0f0 0%,#0064f0 100%);
	background: -o-linear-gradient(top,  #00a0f0 0%,#0064f0 100%);
	background: -ms-linear-gradient(top,  #00a0f0 0%,#0064f0 100%);
	background:linear-gradient(to bottom,  #00a0f0 0%,#0064f0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0f0', endColorstr='#0064f0',GradientType=0 )
}
.filePicker-button:active {
	background:#0064f0;
	background: -moz-linear-gradient(top,  #0064f0 0%, #00a0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064f0), color-stop(100%,#00a0f0));
	background: -webkit-linear-gradient(top,  #0064f0 0%,#00a0f0 100%);
	background: -o-linear-gradient(top,  #0064f0 0%,#00a0f0 100%);
	background: -ms-linear-gradient(top,  #0064f0 0%,#00a0f0 100%);
	background:linear-gradient(to bottom,  #0064f0 0%,#00a0f0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064f0', endColorstr='#00a0f0',GradientType=0 )
}
.qq-uploader {
	position:relative;
	width:224px
}
.qq-upload-button {
	background:#ffa84c;
	background: -moz-linear-gradient(top, #FBCB5D 0%, #EFA003 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBCB5D), color-stop(100%,#EFA003));
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBCB5D', endColorstr='#EFA003',GradientType=0 );
	color:#FFF;
	display:block;
	font-size:16px;
	padding:8px
0;
	text-align:center;
	text-shadow:0 -1px #C64F00;
	border:1px
solid #C64F00;
	-moz-border-radius:5px 5px;
	-webkit-border-radius:5px 5px;
	border-radius:5px 5px
}
.qq-upload-button-hover {
	background:#ff7b0d;
	background: -moz-linear-gradient(top, #ff7b0d 0%, #ffa84c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7b0d), color-stop(100%,#ffa84c));
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b0d', endColorstr='#ffa84c',GradientType=0 )
}
.qq-upload-button-focus {
	outline:1px
dotted black
}
.qq-upload-delete {
	display:none;
	top:0px;
	position:absolute;
	background:#f85032;
	background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827));
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 );
	width:20px;
	height:100%;
	right:0px;
	color:#fff;
	line-height:20px;
	text-align:center;
	text-shadow:0 -1px 0px #000;
	-moz-border-radius:0px 5px 5px 0px;
	-webkit-border-radius:0px 5px 5px 0px;
	border-radius:0px 5px 5px 0px;
	border-left:1px solid #aaa;
	cursor:pointer;
	box-sizing:border-box
}
.qq-upload-delete:hover {
	background:#ffb76b;
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04));
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 )
}
.qq-upload-list li:hover {
	border:1px
solid #aaa
}
.qq-upload-success:hover .qq-upload-delete {
	display:block
}
.qq-upload-drop-area {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-height:54px;
	z-index:2;
	background:#F5F5F5;
	background:rgba(240, 240, 240, 0.9);
	text-align:center;
	color:#B1B1B1;
	border:2px
dashed #c5c5c5;
	-moz-border-radius:5px 5px;
	-webkit-border-radius:5px 5px;
	border-radius:5px 5px
}
.qq-upload-drop-area
span {
	display:block;
	position:absolute;
	top:50%;
	width:100%;
	margin-top:-10px;
	font-size:16px
}
.qq-upload-drop-area-active {
	background:lightyellow;
	background:rgba(222,255,210,0.9)
}
.qq-upload-list {
	margin:10px
0;
	padding:0;
	list-style:none
}
.qq-upload-list
li {
	position:relative;
	font-size:11px;
	margin:8px
0;
	color:#5E5B5B;
	padding:2px
4px;
	background:#EEE;
	-moz-border-radius:5px 5px;
	-webkit-border-radius:5px 5px;
	border-radius:5px 5px;
	white-space:normal;
	border:1px
solid transparent
}
.qq-upload-file,.qq-upload-spinner,.qq-upload-size,.qq-upload-cancel,.qq-upload-failed-text {
	font-size:0.8em;
	line-height:16px
}
.qq-file-uploading {
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
	width:80px
}
.qq-upload-failed-text {
	float:right
}
.qq-upload-fail {
	background:#FF927D !important;
	color:#fff !important
}
.qq-upload-fail .qq-upload-size {
	display:none !important
}
.qq-upload-file {
}
.qq-upload-spinner {
	display:inline-block;
	background:url("/images/loading.gif");
	width:15px;
	height:15px;
	vertical-align:text-bottom;
	margin-bottom:3px;
	margin-left:2px
}
.qq-upload-size,.qq-upload-cancel {
	float:right;
	margin-left:4px
}
.qq-upload-failed-text {
	display:none
}
.qq-upload-fail .qq-upload-failed-text {
	display:inline
}
.fb-login-wrapper {
}
.fb-align-auto,.fb-align-center {
}
.fb-align-left {
}
.fb-align-right {
}
.fb-login-label {
	color:#888;
	font-size:11px;
	line-height:23px
}
.fb-login-button {
}
.braintree-hosted-fields {
	background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
	display:inline-block;
	width:147px;
	height:17px;
	border:1px
solid lightgrey;
	padding:3px
}
.braintree-hosted-fields-focused {
	border:1px
solid #FFD300 !important;
	box-shadow:0px 0px 3px #FFF0AA
}
.square-hosted-fields {
	background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
	display:inline-block;
	width:147px;
	height:17px;
	border:1px
solid lightgrey;
	padding:3px
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.braintree-hosted-fields-focused {
		outline:rgb(59, 153, 252) auto 5px;
		border:1px
solid lightgrey !important
	}
}
.braintree-addons-box {
	border-radius:5px;
	background-color:#efefef;
	padding:5px;
	margin:6px
0 0 18px;
	font-size:12px;
	line-height:16px
}
.paypalpro_img {
	width:40px;
	height:26px;
	padding-right:7px
}
.paypalpro_visa {
	background:url('/images/credit-card-logo.png') no-repeat 0 0
}
.paypalpro_mc {
	background:url('/images/credit-card-logo.png') no-repeat -47px 0
}
.paypalpro_amex {
	background:url('/images/credit-card-logo.png') no-repeat -94px 0
}
.paypalpro_dc {
	background:url('/images/credit-card-logo.png') no-repeat -141px 0
}
#recaptcha_logo {
	display:none
}
#recaptcha_tagline {
	display:none
}
#recaptcha_table {
	border:none !important
}
.recaptchatable .recaptcha_image_cell,#recaptcha_table {
	background-color:transparent !important
}
#recaptcha_table
td {
	padding-left:0px !important
}
.always-hidden {
	display:none !important
}
.dropdown-match-height {
	min-height:24px
}
.signature-pad-passive,.signature-pad-wrapper {
	border:1px
solid #9D9D9D;
	color:#444
}
.signature-pad-passive .signature-line {
	border:1px
solid #444;
	width:80%;
	position:absolute;
	bottom:50px;
	left:10%;
	right:10%
}
.signature-pad-wrapper .clear-pad-btn {
	cursor:pointer;
	text-decoration:underline;
	float:right;
	font-weight:bold;
	font-size:12px
}
.form-single-column
.clearfix {
	display:inline-block
}
.form-single-column
.clearfix {
	display:block
}
@media only screen and (max-device-width: 550px) {
	body {
		font-size:18px
	}
	.form-all {
		width:auto !important
	}
	.form-label-left {
		float:none;
		display:block
	}
	.form-buttons-wrapper {
		margin:5px
!important;
		text-align:center
	}
	.form-textarea {
		width:94% !important;
		white-space:pre-wrap
	}
	.form-textbox,.form-textarea,.form-dropdown,.form-list {
		border:1px
solid #555;
		padding:4px;
		-webkit-border-radius:5px 5px;
		-webkit-box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
		-moz-border-radius:5px 5px;
		-moz-box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
		border-radius:5px 5px;
		box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset
	}
	.form-address-table {
		width:300px
	}
	.form-address-line {
		width:280px
	}
	.form-address-city,.form-address-state {
		width:130px
	}
	.form-address-table td, .form-address-table
th {
		padding-bottom:10px
	}
	.form-address-table
select {
		width:120px
	}
	.form-spinner {
		border-collapse:inherit !important;
		border:1px
solid #555 !important;
		-webkit-border-radius:5px 5px;
		-webkit-box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
		-moz-border-radius:5px 5px;
		-moz-box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset;
		border-radius:5px 5px;
		box-shadow:0 2px 4px rgba(0,0,0, 0.4) inset
	}
	.form-spinner-up,.form-spinner-down {
		padding:0
8px !important;
		border:none !important;
		border-left:1px solid #555 !important
	}
	.form-spinner-up {
		-moz-border-radius-topright:5px 5px;
		-webkit-border-top-right-radius:5px 5px;
		border-top-right-radius:5px 5px;
		border-bottom:1px solid #555 !important
	}
	.form-spinner-down {
		-moz-border-radius-bottomright:5px 5px;
		-webkit-border-bottom-right-radius:5px 5px;
		border-bottom-right-radius:5px 5px
	}
	.form-spinner-input-td {
		padding-right:6px !important
	}
	.form-spinner-input-td
input {
		padding:4px
!important;
		background:none
	}
	.form-sub-label-container img[id*="pick"] {
		width:25px
	}
	div.form-header-group {
		margin:0px
!important
	}
	div.form-pagebreak .form-label-left {
		display:inline-block !important;
		float:left
	}
	.form-submit-button,.form-submit-reset {
		font-size:18px;
		line-height:30px
	}
	.form-captcha {
		border:1px
solid #555
	}
	.form-captcha
input {
		width:120px !important
	}
}
.clearfix2:before,.clearfix2:after {
	content:" ";
	display:table
}
.clearfix2:after {
	clear:both
}
input[type=number] {
	-moz-appearance:textfield
}
input[id*="_donation"] {
	width:46px
}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance:none;
	margin:0
}
.form-submit-button.icon-encrypt {
	position:relative
}
.form-submit-button.icon-encrypt+button {
	margin-left:25px
}
.form-submit-button.icon-encrypt:before {
	content:url("/images/security-icon.png");
	display:inline-block;
	position:absolute;
	width:32px;
	height:32px;
	right: -36px;
	top:50%;
	margin-top: -16px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding-top:4px
}
.form-submit-button.icon-encrypt:after {
	content:"This form is encrypted";
	display:none;
	position:absolute;
	width:128px;
	background-color:rgba(0, 0, 0, 0.85);
	text-shadow:none;
	color:#eee;
	font-size:10px;
	top:50%;
	right: -166px;
	padding:5px
0 4px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	line-height:15px;
	margin-top: -12px
}
.form-submit-button.icon-encrypt:hover:after {
	display:inline-block
}
.jotform-ad {
	background:red;
	display:block !important;
	visibility:visible !important
}
.jotform-ad>a {
	text-decoration:none !important;
	color:#aaa !important
}
.jotform-ad>a+a {
	color:#f38632 !important
}
.jf-branding:hover {
	color:orange !important;
	opacity:1 !important
}
.overlay {
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	top:0;
	left:0;
	z-index:1001
}
.overlay-content {
	position:absolute;
	display:inline-block;
	transform:translate(-50%, -50%);
	left:50%;
	top:50%;
	background:#fff;
	padding:20px;
	box-shadow:0 3px 5px 0 rgba(0,0,0,.2)
}
.img-wrapper
img {
	display:block
}
.lb-prev-button,.lb-next-button {
	position:absolute;
	width:70px;
	height:70px;
	top:50%;
	margin-top: -35px;
	color:transparent;
	cursor:pointer;
	opacity:0;
	transition:opacity .15s ease;
	background-repeat:no-repeat;
	background-position:center center
}
.lb-prev-button {
	left: -70px;
	background-image:url(https://cdn.jotfor.ms/assets/img/v3/lightbox/prev.png)
}
.lb-next-button {
	right: -70px;
	background-image:url(https://cdn.jotfor.ms/assets/img/v3/lightbox/next.png)
}
.lb-close-button {
	display:none;
	position:absolute;
	width:40px;
	height:40px;
	top: -40px;
	right: -4px;
	color:transparent;
	cursor:pointer;
	background:url(https://cdn.jotfor.ms/assets/img/v3/lightbox/close.png) center center no-repeat
}
.overlay-content:hover .lb-prev-button,
.overlay-content:hover .lb-next-button {
	opacity:1
}
div.calendar {
	color:#000;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	-moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.5);
	box-shadow:0px 0px 8px rgba(0,0,0,0.5)
}
div.calendar.popup {
	margin-left: -40px;
	margin-top: -100px;
	z-index:100000
}
div.calendar
td.weekend {
	background:#b5cfe9
}
div.calendar
.today {
	background:#f9621a !important
}
div.calendar .title, div.calendar
.button {
	color:#f9621a
}
div.calendar
table {
	background-color:#eee;
	border:1px
solid #aaa;
	border-collapse:collapse
}
div.calendar
thead {
	background-color:white
}
div.calendar td,
div.calendar
th {
	font-size:11px;
	padding:3px;
	text-align:center
}
div.calendar
td.title {
	font-weight:bold
}
div.calendar
th {
	background:#ddd;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	font-weight:bold;
	color:#555
}
div.calendar tr.days
td {
	width:2em;
	color:#555;
	text-align:center;
	cursor:pointer
}
div.calendar tr.days td:hover:not(.unselectable),
div.calendar td.button:hover:not(.unselectable) {
	background-color:#34ABFA;
	cursor:pointer
}
.unselectable {
	cursor:default !important
}
div.calendar tr.days td:active
div.calendar td.button:active {
	background-color:#cde
}
div.calendar tr.days
td.selected {
	font-weight:bold;
	background-color:#fff;
	color:#000
}
div.calendar tr.days
td.today {
	font-weight:bold;
	color:#D50000
}
div.calendar tr.days
td.otherDay {
	color:#bbb
}


    /* Injected CSS Code */
.form-all {
  font-family: "Lucida Grande", sans-serif;
}
.form-all {
  width: 300px;
  width: 100%;
  max-width: 300px;
}
.form-label-left,
.form-label-right {
  width: 150px;
}
.form-label {
  white-space: normal;
}
.form-label.form-label-auto {
  display: inline-block;
  float: left;
  text-align: left;
  width: 150px;
}
.form-label-left {
  display: inline-block;
  white-space: normal;
  float: left;
  text-align: left;
}
.form-label-right {
  display: inline-block;
  white-space: normal;
  float: left;
  text-align: right;
}
.form-label-top {
  white-space: normal;
  display: block;
  float: none;
  text-align: left;
}
.form-all {
  font-size: 13px;
}
.form-label {
  font-weight: bold;
}
.form-checkbox-item label,
.form-radio-item label {
  font-weight: normal;
}
.supernova {
  background-color: #ffffff;
}
.supernova body {
  background-color: transparent;
}
/*
@width30: (unit(@formWidth, px) + 60px);
@width60: (unit(@formWidth, px)+ 120px);
@width90: (unit(@formWidth, px)+ 180px);
*/
/* | */
@media screen and (min-width: 480px) {
  .supernova .form-all {
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  }
}
/* | */
/* | */
@media screen and (max-width: 480px) {
  .jotform-form {
    padding: 10px 0;
  }
}
/* | */
/* | */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .jotform-form {
    padding: 30px 0;
  }
}
/* | */
/* | */
@media screen and (min-width: 480px) and (max-width: 299px) {
  .jotform-form {
    padding: 30px 0;
  }
}
/* | */
/* | */
@media screen and (min-width: 768px) {
  .jotform-form {
    padding: 60px 0;
  }
}
/* | */
/* | */
@media screen and (max-width: 299px) {
  .jotform-form {
    padding: 0;
  }
}
/* | */
.supernova .form-all,
.form-all {
  background-color: #ffffff;
  border: 1px solid transparent;
}
.form-header-group {
  border-color: #e6e6e6;
}
.form-matrix-table tr {
  border-color: #e6e6e6;
}
.form-matrix-table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
.form-all {
  color: #444444;
}
.form-header-group .form-header {
  color: #444444;
}
.form-header-group .form-subHeader {
  color: #5e5e5e;
}
.form-sub-label {
  color: #5e5e5e;
}
.form-label-top,
.form-label-left,
.form-label-right,
.form-html {
  color: #444444;
}
.form-checkbox-item label,
.form-radio-item label {
  color: #5e5e5e;
}
.form-line.form-line-active {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #ffffe0;
}
/* ömer */
.form-radio-item,
.form-checkbox-item {
  padding-bottom: 0px !important;
}
.form-radio-item:last-child,
.form-checkbox-item:last-child {
  padding-bottom: 0;
}
/* ömer */
[data-type="control_radio"] .form-input,
[data-type="control_checkbox"] .form-input,
[data-type="control_radio"] .form-input-wide,
[data-type="control_checkbox"] .form-input-wide {
  width: 100%;
  max-width: 200px;
}
.form-radio-item,
.form-checkbox-item {
  width: 100%;
  max-width: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form-textbox.form-radio-other-input,
.form-textbox.form-checkbox-other-input {
  width: 80%;
  margin-left: 3%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form-multiple-column {
  width: 100%;
}
.form-multiple-column .form-radio-item,
.form-multiple-column .form-checkbox-item {
  width: 10%;
}
.form-multiple-column[data-columncount="1"] .form-radio-item,
.form-multiple-column[data-columncount="1"] .form-checkbox-item {
  width: 100%;
}
.form-multiple-column[data-columncount="2"] .form-radio-item,
.form-multiple-column[data-columncount="2"] .form-checkbox-item {
  width: 50%;
}
.form-multiple-column[data-columncount="3"] .form-radio-item,
.form-multiple-column[data-columncount="3"] .form-checkbox-item {
  width: 33.33333333%;
}
.form-multiple-column[data-columncount="4"] .form-radio-item,
.form-multiple-column[data-columncount="4"] .form-checkbox-item {
  width: 25%;
}
.form-multiple-column[data-columncount="5"] .form-radio-item,
.form-multiple-column[data-columncount="5"] .form-checkbox-item {
  width: 20%;
}
.form-multiple-column[data-columncount="6"] .form-radio-item,
.form-multiple-column[data-columncount="6"] .form-checkbox-item {
  width: 16.66666667%;
}
.form-multiple-column[data-columncount="7"] .form-radio-item,
.form-multiple-column[data-columncount="7"] .form-checkbox-item {
  width: 14.28571429%;
}
.form-multiple-column[data-columncount="8"] .form-radio-item,
.form-multiple-column[data-columncount="8"] .form-checkbox-item {
  width: 12.5%;
}
.form-multiple-column[data-columncount="9"] .form-radio-item,
.form-multiple-column[data-columncount="9"] .form-checkbox-item {
  width: 11.11111111%;
}
.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
  width: 100%;
}
.supernova {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
.supernova {
  background-image: none;
}
#stage {
  background-image: none;
}
/* | */
.form-all {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
.form-header-group {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
}
.form-line {
  margin-top: 0px;
  margin-bottom: 0px;
}
.form-line {
  padding: 12px 36px;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  font-size: 1em;
  padding: 9px 15px;
  font-family: "Lucida Grande", sans-serif;
  font-size: 11px;
  font-weight: normal;
}
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
  font-size: 1em;
  padding: 9px 15px;
  font-family: "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: normal;
}
/*
& when ( @buttonFontType = google ) {
	@import (css) "@{buttonFontLink}";
}
*/
h2.form-header {
  line-height: 1.618em;
  font-size: 1.714em;
}
h2 ~ .form-subHeader {
  line-height: 1.5em;
  font-size: 1.071em;
}
.form-header-group {
  text-align: left;
}
.form-line {
  zoom: 1;
}
.form-line:before,
.form-line:after {
  display: table;
  content: '';
  line-height: 0;
}
.form-line:after {
  clear: both;
}
.form-sub-label-container {
  margin-right: 0;
  float: left;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form-sub-label-container .date-separate {
  visibility: hidden;
}
.form-captcha input,
.form-spinner input {
  width: 200px;
}
.form-textbox,
.form-textarea {
  width: 100%;
  max-width: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form-input,
.form-address-table,
.form-matrix-table {
  width: 100%;
  max-width: 200px;
}
.form-radio-item,
.form-checkbox-item {
  width: 100%;
  max-width: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form-textbox.form-radio-other-input,
.form-textbox.form-checkbox-other-input {
  width: 80%;
  margin-left: 3%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form-multiple-column {
  width: 100%;
}
.form-multiple-column .form-radio-item,
.form-multiple-column .form-checkbox-item {
  width: 10%;
}
.form-multiple-column[data-columncount="1"] .form-radio-item,
.form-multiple-column[data-columncount="1"] .form-checkbox-item {
  width: 100%;
}
.form-multiple-column[data-columncount="2"] .form-radio-item,
.form-multiple-column[data-columncount="2"] .form-checkbox-item {
  width: 50%;
}
.form-multiple-column[data-columncount="3"] .form-radio-item,
.form-multiple-column[data-columncount="3"] .form-checkbox-item {
  width: 33.33333333%;
}
.form-multiple-column[data-columncount="4"] .form-radio-item,
.form-multiple-column[data-columncount="4"] .form-checkbox-item {
  width: 25%;
}
.form-multiple-column[data-columncount="5"] .form-radio-item,
.form-multiple-column[data-columncount="5"] .form-checkbox-item {
  width: 20%;
}
.form-multiple-column[data-columncount="6"] .form-radio-item,
.form-multiple-column[data-columncount="6"] .form-checkbox-item {
  width: 16.66666667%;
}
.form-multiple-column[data-columncount="7"] .form-radio-item,
.form-multiple-column[data-columncount="7"] .form-checkbox-item {
  width: 14.28571429%;
}
.form-multiple-column[data-columncount="8"] .form-radio-item,
.form-multiple-column[data-columncount="8"] .form-checkbox-item {
  width: 12.5%;
}
.form-multiple-column[data-columncount="9"] .form-radio-item,
.form-multiple-column[data-columncount="9"] .form-checkbox-item {
  width: 11.11111111%;
}
[data-type="control_dropdown"] .form-dropdown {
  width: 100% !important;
  max-width: 200px;
}
[data-type="control_fullname"] .form-sub-label-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48%;
}
[data-type="control_fullname"] .form-sub-label-container:first-child {
  margin-right: 4%;
}
[data-type="control_phone"] .form-sub-label-container {
  width: 65%;
}
[data-type="control_phone"] .form-sub-label-container:first-child {
  width: 32.5%;
  margin-right: 2.5%;
}
[data-type="control_birthdate"] .form-sub-label-container {
  width: 22%;
  margin-right: 3%;
}
[data-type="control_birthdate"] .form-sub-label-container:first-child {
  width: 50%;
}
[data-type="control_birthdate"] .form-sub-label-container:last-child {
  margin-right: 0;
}
[data-type="control_birthdate"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
[data-type="control_time"] .form-sub-label-container {
  width: 37%;
  margin-right: 3%;
}
[data-type="control_time"] .form-sub-label-container:last-child {
  width: 20%;
  margin-right: 0;
}
[data-type="control_time"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
[data-type="control_datetime"] .form-sub-label-container {
  width: 28%;
  margin-right: 4%;
}
[data-type="control_datetime"] .form-sub-label-container:last-child {
  width: 4%;
  margin-right: 0;
}
[data-type="control_datetime"].allowTime .form-sub-label-container {
  width: 12%;
  margin-right: 3%;
}
[data-type="control_datetime"].allowTime .form-sub-label-container:last-child {
  width: 4%;
  margin-right: 0;
}
[data-type="control_datetime"].allowTime .allowTime-container {
  float: right;
  width: 51%;
}
[data-type="control_datetime"].allowTime .allowTime-container .form-sub-label-container {
  width: 27%;
  margin-right: 4%;
}
[data-type="control_datetime"].allowTime .allowTime-container .form-sub-label-container:first-child {
  width: 4%;
  margin-left: 3%;
}
[data-type="control_datetime"].allowTime .allowTime-container .form-sub-label-container:last-child {
  width: 27%;
  margin-right: 0;
}
[data-type="control_datetime"].allowTime .form-dropdown {
  width: 100%;
}
[data-type="control_payment"] .form-sub-label-container {
  width: auto;
}
[data-type="control_payment"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
.form-address-table td .form-dropdown {
  width: 100%;
}
.form-address-table td .form-sub-label-container {
  width: 96%;
}
.form-address-table td:last-child .form-sub-label-container {
  margin-left: 4%;
}
.form-address-table td[colspan="2"] .form-sub-label-container {
  width: 100%;
  margin: 0;
}
/*.form-dropdown,
.form-radio-item,
.form-checkbox-item,
.form-radio-other-input,
.form-checkbox-other-input,*/
.form-captcha input,
.form-spinner input,
.form-error-message {
  padding: 4px 3px 2px 3px;
}
.form-header-group {
  font-family: "Lucida Grande", sans-serif;
}
.form-section {
  padding: 6px 14px 6px 14px;
}
.form-header-group {
  margin: 12px 36px 12px 36px;
}
.form-header-group {
  padding: 24px 0px 24px 0px;
}
.form-textbox,
.form-textarea {
  border-color: #b9b9b9;
  padding: 4px 3px 2px 3px;
}
.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
  background-color: #ffffff;
}
.form-textbox {
  height: 22px;
}
.form-textarea {
  height: 50px;
}
.form-textbox,
.form-textarea {
  width: 100%;
  max-width: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[data-type="control_textbox"] .form-input,
[data-type="control_textarea"] .form-input,
[data-type="control_fullname"] .form-input,
[data-type="control_phone"] .form-input,
[data-type="control_datetime"] .form-input,
[data-type="control_address"] .form-input,
[data-type="control_email"] .form-input,
[data-type="control_passwordbox"] .form-input,
[data-type="control_autocomp"] .form-input,
[data-type="control_textbox"] .form-input-wide,
[data-type="control_textarea"] .form-input-wide,
[data-type="control_fullname"] .form-input-wide,
[data-type="control_phone"] .form-input-wide,
[data-type="control_datetime"] .form-input-wide,
[data-type="control_address"] .form-input-wide,
[data-type="control_email"] .form-input-wide,
[data-type="control_passwordbox"] .form-input-wide,
[data-type="control_autocomp"] .form-input-wide {
  width: 100%;
  max-width: 200px;
}
[data-type="control_fullname"] .form-sub-label-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48%;
}
[data-type="control_fullname"] .form-sub-label-container:first-child {
  margin-right: 4%;
}
[data-type="control_phone"] .form-sub-label-container {
  width: 65%;
}
[data-type="control_phone"] .form-sub-label-container:first-child {
  width: 32.5%;
  margin-right: 2.5%;
}
[data-type="control_phone"] .form-sub-label-container .date-separate {
  visibility: hidden;
}
[data-type="control_datetime"] .form-sub-label-container {
  width: 28%;
  margin-right: 4%;
}
[data-type="control_datetime"] .form-sub-label-container:last-child {
  width: 4%;
  margin-right: 0;
}
[data-type="control_datetime"] .form-sub-label-container .date-separate {
  visibility: hidden;
}
[data-type="control_datetime"].allowTime .form-sub-label-container {
  width: 12%;
  margin-right: 3%;
}
[data-type="control_datetime"].allowTime .form-sub-label-container:last-child {
  width: 4%;
  margin-right: 0;
}
[data-type="control_datetime"].allowTime .allowTime-container {
  float: right;
  width: 51%;
}
[data-type="control_datetime"].allowTime .allowTime-container .form-sub-label-container {
  width: 27%;
  margin-right: 4%;
}
[data-type="control_datetime"].allowTime .allowTime-container .form-sub-label-container:first-child {
  width: 4%;
  margin-left: 3%;
}
[data-type="control_datetime"].allowTime .allowTime-container .form-sub-label-container:last-child {
  width: 27%;
  margin-right: 0;
}
[data-type="control_datetime"].allowTime .form-dropdown {
  width: 100%;
}
.form-matrix-table {
  width: 100%;
  max-width: 200px;
}
.form-address-table {
  width: 100%;
  max-width: 200px;
}
.form-address-table td .form-dropdown {
  width: 100%;
}
.form-address-table td .form-sub-label-container {
  width: 96%;
}
.form-address-table td:last-child .form-sub-label-container {
  margin-left: 4%;
}
.form-address-table td[colspan="2"] .form-sub-label-container {
  width: 100%;
  margin: 0;
}
[data-type="control_dropdown"] .form-input,
[data-type="control_birthdate"] .form-input,
[data-type="control_time"] .form-input,
[data-type="control_dropdown"] .form-input-wide,
[data-type="control_birthdate"] .form-input-wide,
[data-type="control_time"] .form-input-wide {
  width: 100%;
  max-width: 200px;
}
[data-type="control_dropdown"] .form-dropdown {
  width: 100% !important;
  max-width: 200px;
}
[data-type="control_birthdate"] .form-sub-label-container {
  width: 22%;
  margin-right: 3%;
}
[data-type="control_birthdate"] .form-sub-label-container:first-child {
  width: 50%;
}
[data-type="control_birthdate"] .form-sub-label-container:last-child {
  margin-right: 0;
}
[data-type="control_birthdate"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
[data-type="control_time"] .form-sub-label-container {
  width: 37%;
  margin-right: 3%;
}
[data-type="control_time"] .form-sub-label-container:last-child {
  width: 20%;
  margin-right: 0;
}
[data-type="control_time"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
.form-buttons-wrapper {
  margin-left: 0 !important;
  text-align: right !important;
}
.form-label {
  font-family: "Lucida Grande", sans-serif;
}
li[data-type="control_image"] div {
  text-align: left;
}
li[data-type="control_image"] img {
  border: none;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: false !important;
}
.form-line-column {
  width: auto;
}
.form-line-error {
  overflow: hidden;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #fff4f4;
}
.form-line-error .form-error-message {
  background-color: #ff3200;
  clear: both;
  float: none;
}
.form-line-error .form-error-message .form-error-arrow {
  border-bottom-color: #ff3200;
}
.form-line-error input:not(#coupon-input),
.form-line-error textarea,
.form-line-error .form-validation-error {
  border: 1px solid #ff3200;
  -webkit-box-shadow: 0 0 3px #ff3200;
  -moz-box-shadow: 0 0 3px #ff3200;
  box-shadow: 0 0 3px #ff3200;
}
.ie-8 .form-all {
  margin-top: auto;
  margin-top: initial;
}
.ie-8 .form-all:before {
  display: none;
}
/* | */
@media screen and (max-width: 480px), screen and (max-device-width: 768px) and (orientation: portrait), screen and (max-device-width: 415px) and (orientation: landscape) {
  .jotform-form {
    padding: 0;
  }
  .form-all {
    border: 0;
    width: 100% !important;
    max-width: initial;
  }
  .form-sub-label-container {
    width: 100%;
    margin: 0;
  }
  .form-input {
    width: 100%;
  }
  .form-label {
    width: 100%!important;
  }
  .form-line {
    padding: 2% 5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  input[type=text],
  input[type=email],
  input[type=tel],
  textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: initial !important;
  }
  .form-input,
  .form-input-wide,
  .form-textarea,
  .form-textbox,
  .form-dropdown {
    max-width: initial !important;
  }
  div.form-header-group {
    padding: 24px 0px !important;
    margin: 0 12px 2% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  [data-type="control_button"] {
    margin-bottom: 0 !important;
  }
  .form-buttons-wrapper {
    margin: 0!important;
  }
  .form-buttons-wrapper button {
    width: 100%;
  }
  table {
    width: 100%!important;
    max-width: initial !important;
  }
  table td + td {
    padding-left: 3%;
  }
  .form-checkbox-item input,
  .form-radio-item input {
    width: auto;
  }
  .form-collapse-table {
    margin: 0 5%;
  }
}
/* | */

/*__INSPECT_SEPERATOR__*/
* {
    max-width : none !important;
    box-sizing : border-box;
    box-shadow : none !important;
    font-family : Verdana,Arial,sans-serif !important;
    text-shadow : none !important;
}

ul.form-section {
    padding : 0;
}

.form-label {
    color : #15406c;
    font-size : 14px;
    font-weight : normal;
}

ul.form-section li {
    padding : 0;
    margin-bottom : 20px;
    width : 100%;
}

.form-buttons-wrapper {
    height : 45px;
}

.jf-branding {
    display : none !important;
}

.form-all .form-submit-button {
    width : 100%;
    padding : 10px 20px;
    font-size : 16px;
    background : #ff9100;
    border : 0;
    color : #fff;
    font-weight : noraml;
}

.form-textbox, .form-textarea {
    width : 100%;
    border-radius : 0 !important;
    max-width : none;
}

.form-section.page-section {
    max-width : 500px !important;
    width : 100%;
}

.jotform-form {
    padding : 0;
    float : none;
}

.form-all {
    box-shadow : none !important;
}

.form-upload {

}

.form-textbox {
    height : 35px;
}

.form-all .form-submit-button:hover {
    background : #e48200;
}